
{% for a in articles %}

    <article>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <img src="{{asset(a.image)}}" class="img-responsive" alt="{{ a.title }}">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 article-description">
                <h2>{{ a.title }}</h2>
                <p>{{ a.content|truncate(300) }}</p>
                <a class="btn main-color" href="{{ path('article_details', {'id': a.id}) }}">READ MORE</a>
            </div>
        </div>
        <hr class="divider visible-xs">
    </article>

{% endfor %}